
body {
    background-color: #03295b;
    text-align: center;
}

div.container-fluid {
    padding: 0px 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    box-shadow: yellow;
}

.nav-item dropdown {
    border-radius: 10px white solid;
}

.navbar-expand-lg {
    justify-content: flex-start;
    flex-flow: row nowrap;
    padding: 8px 0px;
}

.banner{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    border: 20px solid #03295b;
    border-radius: 30px;
    background-color: white;
}

.carousel-caption {
    top: 0px;
    margin-top: 25%;
}

 .txtCarDois {
    display: flex;
    justify-content: center;
    align-items: center;
   /*  background-color: rgba(0, 0, 0, .1); */
    width: 100%;
    flex-direction: column;
    color: white;
    text-shadow: 0px 0px 8px black;
} 

.slidestitle {
    font-size: 1.7rem;
}

.conteudo {
    font-size: 1,7rem;
}

footer {
        border-top: white solid 14px;

}

#lifooter {
    color: white;
    list-style: none;
    width: 30%;
    display: inline-flex;
    padding-left: 0px;
    padding-bottom: 10px;
    text-decoration: none;
}

a {
    color: white;
    text-align: left;
}

a:hover {
    color: inherit;
}

.main-title {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 0px;
    font-size: 1.0rem;
}

.rights {
    color: white;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: 30px;
}

ul {
    padding-left: 0px;
    text-align: end;
}

.btn {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 500;
}

video.embed-responsive-item {
    background-color: black;
}

.faixaCinza {
    width: 100%;
    height: 14px;
    background-color: white;
    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
}

.faixaCinza1 {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 0px;
    padding: 0px 0px;
    border: none;
    /* animation: change-color mymove 6s linear infinite; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.faixaCinza1 h2 {
    width: 100%;
    height: 60px;
    margin-left: 0px;
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 8px #fff, 10px 12px 0 rgba(0,0,0,.1); /* Efeito blur e shadow */
    animation: mymove 8s infinite;
    position: relative;
}

/* @keyframes change-color{
    0%  {background: linear-gradient( 135deg, #000 20%, #03295b 100%); }

    30% {background: linear-gradient( 135deg, #03295b 10%, #E50914 10%); }

    70% {background: linear-gradient( 135deg, #000 20%, #03295b 100%); }

    100% {background: linear-gradient( 135deg, #E50914 90%, #03295b 10%); }
} */

@keyframes mymove {
    0%   {top: 0px; left: 0%; background: rgba(0, 0, 0, .4);}
    25%  {top: 0px; left: 0% ; background: rgba(255, 0, 0,.5);}
    100% {top: 0px; left: 0%; background: rgba(0, 0, 0, .4);}
  }

  

.faixaCinza2 {
    width: 100%;
    height: 14px;
    background-color: white;
    margin-top: -24px;
    padding: 0px 0px;
    border: none;
}

#botaoEmail {
    margin: auto auto;
    width: 150px;
    height: 47px;
    margin-top: -8px;
    background-color: black;
}

#tituloEmail {
    color: white;
    text-align: center;
}

input#exampleInputEmail1 {
    width: 340px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.textobotao {
    text-align: center;
    margin-bottom: 85px;
}

.row {
    justify-content: center;
}

.titfooter {
    justify-content: center;
}

.footerfinal {
    text-align: end;
    margin: 0 0 16px;
}

.form-group {
    margin: auto;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.box-filme {
    margin-top: 20px;
    opacity:1;
}

.box-filme:hover{
    opacity: 0.5;
}

.owl-nav {
    margin-top: 0px;
    color: white;
}

/* se quiser que as bolinhas voltem, comente o css abaixo */
.owl-dots {
display: none;
}

.owl-nav span {
    font-size: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


/* 
.imgBanner{
    margin:  0 auto;
}

.banner{
    margin: 2px 10px;
    background-color: #fff;
} */